/* Add Project Button */
.button-add-project {
    -fx-background-color: #e9ecef;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-padding: 5 10;
    -fx-font-size: 13px;
    -fx-text-fill: #495057;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.05), 2, 0, 1, 1);
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
}

.button-add-project:hover {
    -fx-opacity: 0.8;
    -fx-background-color: #dde0e3;
}

.button-add-project:pressed {
    -fx-background-color: #ced4da;
}